body{
    padding: 0;
    margin: 0;
}
#Titel{
    font-size: 60px;
    font-family: Georgia;
    text-align: center;
}
#CenterBox{
    font-family: Comic;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%; 
    color: black;
    background-color: lightgray;
    text-align: center;

}
